body {
  margin: 0;
  padding: 50px 25px;

  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  line-height: 1.1;

  -webkit-font-smoothing: subpixel-antialiased;
}

* {
  box-sizing: border-box;
}
